    body{
      min-height: 10000px;
    }
    /* h1 h2 h3 h4 h5{
      font-family: Poppins,sans-serif;
    } */
    p{
      font-family: Poppins,sans-serif;

    }
    .header{
        color: #ffff;
        background: url(foto/jogja.jpg);
        background-repeat: no-repeat  ;
        background-position: left;
        background-size:cover; 

      }
      /* Navbar */
      .judul{
        font-family:Poppins;
        padding: 5px;
      }
      /* .judul .navbar-brand img{     
        position: relative;
       } */
      .judul a{
        font-weight: bold;
        font-size:20px;
        transition: 0.4s;
      
      }
      .judul a:hover{
        background-color: white;
        border-radius: 10px;
      }
      .judul.sticky{
        background-color: white;
        opacity: 0.9;
        transition: 0.5s;
      }
      .judul.sticky h2{
        color: black;
      }
      .judul img{
        width: 100px;
      }
      /* /Navbar */

      /* Rresponsive  tablet*/
      @media screen and (max-width: 991px){
        html,body{
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
          overflow-x: hidden;
        }
        /* .Wonderful{
          padding: 0 0 0 200px;
        } */
        .judul{
          background-color: white;
          opacity:0.8;
          transition: 1s;

        }
        .judul h2{
          color: black;
        }
        .gradient{
          background-image: linear-gradient(transparent,white);
        }
        .konten-1{
          padding-top: 8em;
        }
        .konten-1-grid{
          display: grid;
          justify-content: stretch;
     
        }
        .konten-1-top{
          grid-row: 1;
          align-items: center;
        }
        .konten-1-buttom{
          grid-row: 2;
        }
        .konten-2-buttom{
          grid-row: 2;
          margin-top: 1rem;
        }
        .konten-2-top{
          grid-row: 1;
        }
        .konten-2-grid{
          display: grid;
        }
        .card-1{
          padding: 3rem;
        }
      }
      
      /* /Responsive */

      /* Responsive Hp */
      /* /Responsive Hp */

      /* Konten 1 */
      .Wonderful{
        padding: 1em;

      }
      .konten-1{
        padding: 9em 0 2em 0;
        
      }
      .konten-1 h2{
        font-size: 4rem;
        line-height:1em;

      }

      .btn-1 button{
      border-radius: 15px;
      background-color: white;
      width: 100%;
      margin-top:2em;
      transition: 0.6s;
      font-weight: bold;
      }
      .btn-1 button:hover{
        background-color: rgb(219, 217, 217);
        

      }
      .gradient{
        background-image: linear-gradient(transparent,white);
        height: 200px;
        width: 100%;

      }
      /* Konten 2 */
      .konten-2{
        padding: 5rem 3rem 0 3rem;


      }
      .knten-2 img{
        border-radius: 200px;
      }

      /* Konten 3 */
      .konten-3{
          padding: 3rem
        }

      /* Konten4 */
      .card-1{
      margin-top:3em;

      }
      .card-1 .card{
        border-radius: 20px; 
        transition: 1s;
      }
      .card-1 img{
        border-radius: 20px 20px 0 0;
      }
      .card-1 .btn{
        border-radius: 10px;
        
      }


      /* @media only screen and (max-width: 600px){
        .konten{
          display: grid;
        }

        .text-1{
          grid-row: 1;
        }

        .gambar-1{
          grid-row: 2;
        }
      } */

    

      

      
